{% extends "base.html" %}

{% block content %}
<form method="POST">
    {% if id %}
        <input type="text" name="id" placeholder="Введите ID" value="{{ id }}" readonly>
    {% endif %}
    <input type="text" name="login" placeholder="Введите LOGIN" value="{{ profile.get('login') }}">
    <input type="text" name="cash" placeholder="Введите CASH" value="{{ profile.get('cash') }}">
    <input type="text" name="nationality" placeholder="Введите NATIONALITY" value="{{ profile.get('nationality') }}">
    <input type="text" name="country" placeholder="Введите COUNTRY" value="{{ profile.get('country') }}">
    <input type="text" name="language" placeholder="Введите LANGUAGE" value="{{ profile.get('language') }}">
    <input class="btn btn-success" type="submit" value="Да">
</form>
{% endblock %}
