
{% extends "base.html" %}

{% block content %}

<a class="btn btn-primary mt-5" href="{{ url_for('index') }}"> Back </a>
<hr></hr>
<a class="btn btn-success" href="{{ url_for('update', id=profile.get('id')) }}"> Update </a>


<h1>{{ profile.get("id") }}: {{ profile.get("login") }}</h1>
<hr></hr>
<h2>Cash: {{ profile.get("cash") }}</h2>
<hr></hr>
<h2>Nationality: {{ profile.get("nationality") }}</h2>
<hr></hr>
<h2>Country: {{ profile.get("country") }}</h2>
<hr></hr>
<h2>Language: {{ profile.get("language") }}</h2>

{% endblock %}
